<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>It's the orders <%= @period %>.</h1>
    <%= if length(@orders) > 0 do %>
      <ul>
        <%= for order <- @orders do %>
          <li>
            <strong><%= order.author %></strong>
            <%= order.body %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No orders.</p>
    <% end %>
  </body>
</html>
