<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <%= if @user_email do %>
      <h1>Welcome, <%= @user_email %></h1>
    <% else %>
      <a href="/login">Sign in</a>
    <% end %>
    <h2>It's the orders <%= @period %>.</h2>
    <%= if length(@orders) > 0 do %>
      <ul>
        <%= for order <- @orders do %>
          <li>
            <strong><%= order.author %></strong>
            <%= order.body %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No orders.</p>
    <% end %>
  </body>
</html>
